body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Helvetica', 'Arial';
	/*background-color: rgba(0, 0, 255, 1);*/
}

h2 {
	font-weight: normal;
	font-size: 18px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

button {
	font-size: 18px;
	cursor: pointer;
}


.container {
	width: 480px;
	margin: 0 auto;
	text-align: left;
}

#options {
	margin: 10px 0;
}

.next-question {
	margin-right: 10px;
}

/*#score {
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
}

*/

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}


/*.base-class {
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.base-class.my-class {
  	background-color: red;
}
*/
