<div>
	<div ng-show="!quizOver">
		<!-- <div class="sun"></div> -->

		<!-- <div id="weather">
			<div id="sun"></div>
			<div id="cloud"></div>
			<div id="rain"></div>
		</div> -->
		<!-- <div class="sun"></div>
		<div class="sun"></div>
		<div class="sun"></div>
 -->
		<div class="container">
			<h2>{{question.question}}</h2>
			<ul id="options">
				<li ng-repeat="option in question.options">
					<input type="radio" name="answer" value="{{$index + 1}}" ng-model="formAnswer" id="{{$index + 1}}">
					<label for="{{$index + 1}}">{{option}}</label>
				</li>
			</ul>
			<a href="{{question.nextUrl}}" ng-click="nextQuestion()" class="button">Next</a>
		</div>


	</div>
	<!-- End of !quizOver -->
	<div ng-show="quizOver">
		<h2>You are...</h2>
		<a href="#/" class="button">Take the quiz again</a>
	</div>
	<!-- End of quizArea -->
</div>
