<script>
$(document).ready(function(){
		$("#buttonFade").click(function(){

				$(".cloud").fadeIn(3000);

		});
});
</script>

<div>
	<div ng-show="!quizOver">

		<div id="weather">
			<div id="sun" ng-if="weather == 1" ng-animate="'fade'"></div>
			<div id="cloud" ng-if="weather == 2" ng-animate="'fade'"></div>
			<div id="rain" ng-if="weather == 3" ng-animate="'fade'"></div>
		</div>

		<div class="container">
			<h2>{{question.question}}</h2>
			<ul id="options">
				<li ng-repeat="option in question.options">
					<input type="radio" name="answer" value="{{$index + 1}}" ng-model="formAnswer" id="{{$index + 1}}">
					<label for="{{$index + 1}}">{{option}}</label>
				</li>
			</ul>
			<div id="buttonFade"><a href="{{question.nextUrl}}" ng-click="nextQuestion()" class="button">Next</a></div>
		</div>

	</div>
	<!-- End of !quizOver -->
	<div ng-show="quizOver">
		<div id="sun" ng-if="weather == 1" ng-animate="'fade'"></div>
		<div id="cloud" ng-if="weather == 2" ng-animate="'fade'"></div>
		<div id="rain" ng-if="weather == 3" ng-animate="'fade'"></div>

		<div class="container">
			<h1 id="moodResults">Mood message.</h1>
		</div>
		<div class="container home">
			<a href="javascript:document.location.reload(true);document.location='#/'" class="button next2">REPLAY</a>
		</div>
	</div>
	<!-- End of quizArea -->
</div>
